<div class="footer">
  <strong>Copyright &copy; {{ year }}
  <a target="_blank" [href]="'https://www.siemens.com/global/en.html'">Siemens</a>.
</strong>
<div class="pr-3 d-flex">
  <label>Follow us on </label>
  <div class="pl-2">
    <a
      class="btn btn-circle flex-same btn-icon fa fa-facebook"
      target="_blank"
      [href]="'https://www.facebook.com/Siemens'"></a>

  </div>
 <div class="pl-2">
  <a
  class="btn btn-circle flex-same btn-icon fa fa-twitter"
  target="_blank"
  [href]="'https://twitter.com/siemens'"></a>
 </div>
  <div class="pl-2">
    <a
    class="btn btn-circle flex-same btn-icon fa fa-linkedin"
    target="_blank"
    [href]="'https://www.linkedin.com/company/siemens'"></a>
  </div>

</div>
